* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e27442;
}

.todo-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  width: 400px;
}

.todo-container h2 {
  padding: 10px;
  font-family: "Candal", sans-serif;
  font-size: 2em;
}
